{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/products/style.css' %}" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;
      
        -webkit-font-smoothing: antialiased;
      }
      
      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <link rel="icon" href="{% static 'image/products/logo2.png' %}" type="image/png" />
    <title>Products</title>
  </head>
  <body>
    <div class="our-product">
      <div class="header">
        <div class="frame-52">
          <div class="logo">
            <div class="frame-53"></div>
          </div>
        </div>
        <div class="logo2">
          <div class="frame-49">
            <div class="frame-50">
              <div class="frame-47">
                <div class="frame-48">
                  <a href="{% url 'home' %}"><img class="logo3" src="{% static 'image/products/logo2.png' %}" /></a>
                  <a href="{% url 'home' %}"><img class="logo-text" src="{% static 'image/products/logo-text0.png' %}" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header2">
          <div class="frame-51">
            <div class="frame-492">
              <div class="nav">
                <div class="nav2">
                  <a href="{% url 'home' %}" class="home">Home</a>
                  <div class="results">Results</div>
                  <a href="{% url 'blogs' %}" class="blogs">Blogs</a>
                  <a href="{% url 'products' %}" class="our-products">Products</a>
                  <a href="{% url 'about' %}" class="about">About</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if user.is_authenticated %}
          <div class="sign-up">
            <div class="frame-83">
              <div class="vuesax-linear-profile-circle">
                <a href="{% url 'user_profile' %}"><img class="profile-circle" src="{% static 'image/products/profile-circle0.svg' %}" /></a>
              </div>
              <div class="frame-80">
                <div class="frame-81">
                  <div class="vuesax-linear-profile-circle2">
                    <div class="account-name">{{ user.username }}</div>
                  </div>
                  <div class="dropdown-container">
                    <div class="arrow-down" onclick="toggleDropdown()">
                      <img class="vuesax-bold-arrow-down" src="{% static 'image/products/vuesax-bold-arrow-down0.svg' %}" />
                    </div>
                    <div id="dropdown-menu" class="dropdown-menu">
                      <a href="{% url 'logout' %}">Logout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="sign-up2">
            <div class="button5">
              <a href="{% url 'register' %}" class="button6">Sign Up</a>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="frame-106">
        {% for product in products %}
          <div class="_200">${{ product.price }}</div>
          <div class="torem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-etiam-eu-turpis-molestie-dictum-est-a-mattis-tellus-sed-dignissim-metus-nec-fringilla-accumsan-risus-sem-sollicitudin-lacus-ut-interdum-tellus-elit-sed-risus-maecenas-eget-condimentum-velit-sit-amet-feugiat-lectus-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia">{{ product.desc }}</div>
          <div class="dectect-water-sensor">{{ product.name }}</div>
        {% endfor %}
      </div>
      <div class="footer">
        <div class="frame-54">
          <div class="frame-45">
            <div class="frame-41">
              <div class="contact-usct">
                <span>
                  <span class="contact-usct-span">CONTACT US</span>
                  <span class="contact-usct-span2">CT</span>
                </span>
              </div>
              <div class="frame-40">
                <div class="frame-39">
                  <div class="call">
                    <img class="vuesax-linear-call" src="{% static 'image/products/vuesax-linear-call0.svg' %}" />
                  </div>
                  <div class="_201276003504">+201276003504</div>
                </div>
                <div class="frame-38">
                  <div class="location">
                    <img class="vuesax-bold-location" src="{% static 'image/products/vuesax-bold-location0.svg' %}" />
                  </div>
                  <div class="alexandria-egypt">Alexandria , Egypt</div>
                </div>
              </div>
            </div>
            <div class="frame-44">
              <div class="follow-us">Follow Us:</div>
              <div class="frame-42">
                <img class="linkedin" src="{% static 'image/products/linkedin0.svg' %}" />
                <img class="facebook" src="{% static 'image/products/facebook0.svg' %}" />
                <img class="instagram" src="{% static 'image/products/instagram0.svg' %}" />
                <img class="twitter" src="{% static 'image/products/twitter0.svg' %}" />
              </div>
            </div>
          </div>
          <div class="frame-46">
            <div class="about-us">About</div>
            <div class="blogs2">Blogs</div>
            <div class="results2">Results</div>
            <div class="contact-us">Contact</div>
          </div>
        </div>
        <img class="logo4" src="{% static 'image/products/logo3.png' %}" />
        <img class="logo-text2" src="{% static 'image/products/logo-text1.png' %}" />
        <div class="together-for-cleaner-waters">Together for Cleaner Waters.</div>
      </div>
      <div class="line-arrow-right">
      </div>
      <div class="button">
        <a href="{% url 'orders' %}" class="button2">Reservation</a>
      </div>
      <div class="button3">
        <div class="button4">Read More</div>
      </div>
      {% for product in products %}
        <img class="image-20" src="{{ product.image.url }}" />
      {% endfor %}
      <div class="ellipse-1083"></div>
    </div>
    <script>
      function toggleDropdown() {
        const menu = document.getElementById('dropdown-menu')
        menu.style.display = menu.style.display === 'block' ? 'none' : 'block'
      }
      
      document.addEventListener('click', function (event) {
        const dropdown = document.getElementById('dropdown-menu')
        const arrow = document.querySelector('.arrow-down')
        if (!arrow.contains(event.target) && !dropdown.contains(event.target)) {
          dropdown.style.display = 'none'
        }
      })
    </script>
    {% if order_message %}
      <script>
        alert('{{ order_message|escapejs }}')
      </script>
    {% endif %}
  </body>
</html>
