.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #ffffff;
  height: 3616px;
  position: relative;
  overflow: hidden;
}
.header {
  background: var(
    --gradient-1,
    linear-gradient(
      200.43deg,
      rgba(75, 187, 181, 1) 0%,
      rgba(9, 16, 87, 1) 98.27224016189575%
    )
  );
  width: 1440px;
  height: 212px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.header2 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  width: 1318px;
  height: 92px;
  position: absolute;
  left: 20px;
  top: 20px;
  overflow: hidden;
}
.frame-52 {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 706px;
  position: absolute;
  left: 591px;
  top: 8px;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-53 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header3 {
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 124px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 690px;
  height: 64px;
  position: relative;
}
.frame-51 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 401px;
  position: relative;
}
.frame-49 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nav {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nav2 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogs {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-products {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  color: var(--primary-300, #224a77);
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 166px;
  position: relative;
}
.button {
  background: var(--primary-400, #0b1928);
  border-radius: 48px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.button2 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --button-an-labels-font-family,
    "Montserrat-Bold",
    sans-serif
  );
  font-size: var(--button-an-labels-font-size, 16px);
  line-height: var(--button-an-labels-line-height, 70%);
  font-weight: var(--button-an-labels-font-weight, 700);
  position: relative;
}
.logo2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 249px;
  position: absolute;
  left: 21px;
  top: -4px;
}
.frame-492 {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-50 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-47 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-48 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 233px;
  position: relative;
}
.logo3 {
  border-radius: 16px;
  flex-shrink: 0;
  width: 84px;
  height: 83.81px;
  position: relative;
  object-fit: cover;
}
.logo-text {
  border-radius: 16px;
  flex-shrink: 0;
  width: 141px;
  height: 56.35px;
  position: relative;
  object-fit: cover;
}
.about-us-section {
  background: var(--primary-300, #224a77);
  border-radius: 16px;
  width: 1300px;
  height: 310px;
  position: absolute;
  left: 84px;
  top: 165px;
  overflow: hidden;
}
.about2 {
  border-radius: 16px;
  width: 1440px;
  height: 695px;
  position: absolute;
  left: -117px;
  top: -47px;
  object-fit: cover;
}
.frame-85 {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  width: 1300px;
  height: 356px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.about-us {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 64px;
  line-height: 100%;
  font-weight: 800;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 12px
    var(
      --gradient-1,
      linear-gradient(
        200.43deg,
        rgba(75, 187, 181, 1) 0%,
        rgba(9, 16, 87, 1) 98.27224016189575%
      )
    );
}
.our-mission-section {
  position: absolute;
  inset: 0;
}
.rectangle-6 {
  background: rgba(217, 217, 217, 0.43);
  border-radius: 16px;
  width: 657px;
  height: 492px;
  position: absolute;
  left: 60px;
  top: 617px;
  box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-7 {
  background: var(--secondary-secondary, #4dc1b8);
  border-radius: 16px;
  opacity: 0.47;
  width: 360px;
  height: 117px;
  position: absolute;
  left: 202px;
  top: 573px;
  box-shadow: 10px 11px 4px 0px rgba(0, 0, 0, 0.73);
}
.our-mission-is-to-revolutionize-water-purity-detection-through-the-innovative-integration-of-ai-and-advanced-sensor-technology-empowering-communities-and-industries-to-tackle-microplastic-pollution-for-a-healthier-more-sustainable-future {
  color: var(--primary-400, #0b1928);
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 113%;
  font-weight: 600;
  position: absolute;
  left: 90px;
  top: 736px;
  width: 608px;
}
.our-mission {
  width: 481.26px;
  height: 48px;
  position: static;
}
.our-mission2 {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 48px;
  line-height: 100%;
  font-weight: 800;
  position: absolute;
  left: calc(50% - 579px);
  top: 608px;
  width: 481.26px;
}
.photo-1-our-mission {
  background: var(--primary-200, #387bc7);
  border-radius: 16px;
  width: 521px;
  height: 395px;
  position: absolute;
  left: 860px;
  top: 565px;
}
.photo-2-our-mission {
  background: var(--primary-300, #224a77);
  border-radius: 16px;
  width: 479px;
  height: 362px;
  position: absolute;
  left: -58px;
  top: 161px;
  box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.image-15 {
  border-radius: 16px;
  width: 538px;
  height: 538px;
  position: absolute;
  left: -29px;
  top: -88px;
  object-fit: cover;
}
.footer {
  background: #ffffff;
  border-radius: 16px;
  width: 1440px;
  height: 202px;
  position: absolute;
  left: -8px;
  bottom: 2px;
  box-shadow: -4px -9px 4px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.frame-54 {
  display: flex;
  flex-direction: row;
  gap: 56px;
  align-items: center;
  justify-content: flex-start;
  width: 660px;
  position: absolute;
  left: 741px;
  top: 57px;
}
.frame-45 {
  display: flex;
  flex-direction: row;
  gap: 56px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 427px;
  position: relative;
}
.frame-41 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 182px;
  position: relative;
}
.contact-usct {
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-usct-span {
  color: var(--primary-400, #0b1928);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
}
.contact-usct-span2 {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
}
.frame-40 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-39 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.call {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.vuesax-linear-call {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
._201276003504 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.location {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.vuesax-bold-location {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.alexandria-egypt {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-44 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 183px;
  height: 86px;
  position: relative;
}
.follow-us {
  color: var(--primary-400, #0b1928);
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-42 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.linkedin {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.facebook {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.instagram {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.twitter {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.frame-46 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 78px;
  position: relative;
}
.about-us2 {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogs2 {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results2 {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo4 {
  border-radius: 16px;
  width: 94px;
  height: 76px;
  position: absolute;
  left: 127px;
  top: 13px;
  object-fit: cover;
}
.logo-text2 {
  border-radius: 16px;
  width: 520px;
  height: 75px;
  position: absolute;
  left: 150px;
  top: 127px;
  object-fit: cover;
}
.together-for-cleaner-waters {
  background: var(
    --gradient-1,
    linear-gradient(
      200.43deg,
      rgba(75, 187, 181, 1) 0%,
      rgba(9, 16, 87, 1) 98.27224016189575%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 140px;
  top: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meet-our-team {
  background: linear-gradient(
    180deg,
    rgba(250, 253, 255, 1) 6.499999761581421%,
    rgba(25, 60, 98, 1) 99.97999668121338%
  );
  width: 1448px;
  height: 1186px;
  position: absolute;
  left: -16px;
  top: 2216px;
  overflow: hidden;
}
.ce-1569-f-55-f-1 {
  width: 1464px;
  height: 1240px;
  position: absolute;
  left: -16px;
  top: 0px;
  object-fit: cover;
}
.meet-our-team2 {
  color: var(--primary-400, #0b1928);
  text-align: left;
  font-family: var(
    --headings-h1-font-family,
    "Montserrat-ExtraBold",
    sans-serif
  );
  font-size: var(--headings-h1-font-size, 64px);
  line-height: var(--headings-h1-line-height, 100%);
  font-weight: var(--headings-h1-font-weight, 800);
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 38px;
}
.partner-with-our-team-of-scientists-thinkers-and-industry-experts-to-take-your-talent-strategy-to-the-next-level-we-have-consulted-with-the-world-s-top-minds-and-created-innovative-solutions-that-transform-talent {
  color: #000000;
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Medium", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 500);
  position: absolute;
  left: 144px;
  top: 147px;
  width: 1223px;
  height: 227px;
}
.image {
  width: 245px;
  height: 412px;
  position: absolute;
  left: 75px;
  top: 292px;
  box-shadow: 0px 4px 4px 0px rgba(0, 122, 255, 0.15);
}
.image2 {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.image3 {
  width: 245px;
  height: 412px;
  position: absolute;
  left: 336px;
  top: 261px;
  box-shadow: 0px 4px 4px 0px rgba(0, 122, 255, 0.15);
}
.image4 {
  width: 245px;
  height: 412px;
  position: absolute;
  left: 327px;
  top: 736px;
  box-shadow: 0px 4px 4px 0px rgba(0, 122, 255, 0.15);
}
.image5 {
  width: 245px;
  height: 412px;
  position: absolute;
  left: 597px;
  top: 292px;
  box-shadow: 0px 4px 4px 0px rgba(0, 122, 255, 0.15);
}
.image6 {
  width: 245px;
  height: 412px;
  position: absolute;
  left: 588px;
  top: 767px;
  box-shadow: 0px 4px 4px 0px rgba(0, 122, 255, 0.15);
}
.image7 {
  width: 245px;
  height: 412px;
  position: absolute;
  left: 858px;
  top: 261px;
  box-shadow: 0px 4px 4px 0px rgba(0, 122, 255, 0.15);
}
.image8 {
  width: 245px;
  height: 412px;
  position: absolute;
  left: 849px;
  top: 736px;
  box-shadow: 0px 4px 4px 0px rgba(0, 122, 255, 0.15);
}
.image9 {
  width: 245px;
  height: 412px;
  position: absolute;
  left: 1119px;
  top: 292px;
  box-shadow: 0px 4px 4px 0px rgba(0, 122, 255, 0.15);
}
.how-it-works {
  position: absolute;
  inset: 0;
}
.frame-13 {
  display: flex;
  flex-direction: row;
  gap: 52px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 626px);
  top: 1306px;
}
.frame-10 {
  background: #000000;
  border-radius: 16px;
  flex-shrink: 0;
  width: 380px;
  height: 917px;
  position: relative;
  overflow: hidden;
}
.image-3 {
  width: 380px;
  height: 1051px;
  position: absolute;
  left: 0px;
  top: -28px;
  object-fit: cover;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.ellipse-2 {
  background: var(--primary-300, #224a77);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 38px;
  top: 845px;
}
._1 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --headings-h2-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h2-font-size, 32px);
  line-height: var(--headings-h2-line-height, 100%);
  font-weight: var(--headings-h2-font-weight, 600);
  position: absolute;
  left: 60px;
  top: 857px;
}
.water-sensors {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --headings-h2-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h2-font-size, 32px);
  line-height: var(--headings-h2-line-height, 100%);
  font-weight: var(--headings-h2-font-weight, 600);
  position: absolute;
  left: 102px;
  top: 857px;
}
.hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhcccccccccccccccccccccccccccccccccccccccccccccccccccccccccc {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-b2-font-family, "Montserrat-Medium", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 500);
  position: absolute;
  left: 43px;
  top: 911px;
  width: 289px;
  height: 88px;
}
.frame-132 {
  background: #000000;
  border-radius: 16px;
  flex-shrink: 0;
  width: 380px;
  height: 917px;
  position: relative;
  overflow: hidden;
}
.image-16 {
  width: 526px;
  height: 1051px;
  position: absolute;
  left: -82px;
  top: -14px;
  object-fit: cover;
}
._2 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --headings-h2-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h2-font-size, 32px);
  line-height: var(--headings-h2-line-height, 100%);
  font-weight: var(--headings-h2-font-weight, 600);
  position: absolute;
  left: 60px;
  top: 857px;
}
.ai-model {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --headings-h2-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h2-font-size, 32px);
  line-height: var(--headings-h2-line-height, 100%);
  font-weight: var(--headings-h2-font-weight, 600);
  position: absolute;
  left: 102px;
  top: 857px;
}
.frame-14 {
  background: #000000;
  border-radius: 16px;
  flex-shrink: 0;
  width: 380px;
  height: 917px;
  position: relative;
  overflow: hidden;
}
._3 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --headings-h2-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h2-font-size, 32px);
  line-height: var(--headings-h2-line-height, 100%);
  font-weight: var(--headings-h2-font-weight, 600);
  position: absolute;
  left: 60px;
  top: 857px;
}
.real-time-data {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --headings-h2-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h2-font-size, 32px);
  line-height: var(--headings-h2-line-height, 100%);
  font-weight: var(--headings-h2-font-weight, 600);
  position: absolute;
  left: 102px;
  top: 857px;
}
.how-it-works2 {
  color: var(--primary-400, #0b1928);
  text-align: left;
  font-family: var(
    --headings-h1-font-family,
    "Montserrat-ExtraBold",
    sans-serif
  );
  font-size: var(--headings-h1-font-size, 64px);
  line-height: var(--headings-h1-line-height, 100%);
  font-weight: var(--headings-h1-font-weight, 800);
  position: absolute;
  left: 95px;
  top: 1194px;
}
.sign-up2 {
  padding: 8px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25px;
  position: absolute;
  left: 500px;
  top: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-83 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 261px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.vuesax-linear-profile-circle {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.profile-circle {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.frame-801 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-81 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 208px;
  position: relative;
}
.vuesax-linear-profile-circle2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 173px;
  position: relative;
  margin-left: 20px;
}
.account-name {
  color: #193c62;
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Medium", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 500);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.vuesax-bold-arrow-down {
  height: auto;
  position: absolute;
  left: -20px;
  top: 0px;
  overflow: visible;
}