.results,
.results * {
  box-sizing: border-box;
}
.results {
  background: #ffffff;
  height: 1565px;
  position: relative;
  overflow: hidden;
}
.header {
  background: rgb(245, 241, 241);
  border-radius: 16px;
  width: 1309px;
  height: 92px;
  position: absolute;
  left: 12px;
  top: 16px;
  overflow: hidden;
}
.frame-52 {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 706px;
  position: absolute;
  left: 542px;
  top: 6px;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-53 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.logo2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 249px;
  position: absolute;
  left: 21px;
  top: -4px;
}
.frame-49 {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-50 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-47 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-48 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 233px;
  position: relative;
}
.logo3 {
  border-radius: 16px;
  flex-shrink: 0;
  width: 84px;
  height: 83.81px;
  position: relative;
  object-fit: cover;
}
.logo-text {
  border-radius: 16px;
  flex-shrink: 0;
  width: 141px;
  height: 56.35px;
  position: relative;
  object-fit: cover;
}
.header2 {
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 52px;
  align-items: center;
  justify-content: flex-start;
  width: 800px;
  height: 64px;
  position: absolute;
  left: 421px;
  top: 14px;
}
.frame-51 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 401px;
  position: relative;
}
.frame-492 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nav {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nav2 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 19px;
  position: relative;
}
.home {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results2 {
  color: var(--primary-300, #224a77);
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogs {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-products {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up {
  padding: 8px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25px;
  position: absolute;
  left: 1329px;
  top: 14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-83 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 261px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.vuesax-linear-profile-circle {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.profile-circle {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.frame-80 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-81 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 208px;
  position: relative;
}
.vuesax-linear-profile-circle2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 173px;
  position: relative;
}
.account-name {
  color: #193c62;
  text-align: center;
  font-family: var(--body-b2-font-family, "Montserrat-Medium", sans-serif);
  font-size: var(--body-b2-font-size, 20px);
  line-height: var(--body-b2-line-height, 100%);
  font-weight: var(--body-b2-font-weight, 500);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.vuesax-bold-arrow-down {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.footer {
  background: #ffffff;
  border-radius: 16px;
  width: 1440px;
  height: 202px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  box-shadow: -4px -9px 4px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.frame-54 {
  display: flex;
  flex-direction: row;
  gap: 56px;
  align-items: center;
  justify-content: flex-start;
  width: 660px;
  position: absolute;
  left: 741px;
  top: 57px;
}
.frame-45 {
  display: flex;
  flex-direction: row;
  gap: 56px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 427px;
  position: relative;
}
.frame-41 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 182px;
  position: relative;
}
.contact-usct {
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-usct-span {
  color: var(--primary-400, #0b1928);
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
}
.contact-usct-span2 {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
}
.frame-40 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-39 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.call {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.vuesax-linear-call {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
._201276003504 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.location {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.vuesax-bold-location {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.alexandria-egypt {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-44 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 183px;
  height: 86px;
  position: relative;
}
.follow-us {
  color: var(--primary-400, #0b1928);
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-42 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.linkedin {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.facebook {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.instagram {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.twitter {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.frame-46 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 78px;
  position: relative;
}
.about-us {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogs2 {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results3 {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us {
  color: var(--primary-400, #0b1928);
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo4 {
  border-radius: 16px;
  width: 94px;
  height: 76px;
  position: absolute;
  left: 127px;
  top: 13px;
  object-fit: cover;
}
.logo-text2 {
  border-radius: 16px;
  width: 520px;
  height: 75px;
  position: absolute;
  left: 150px;
  top: 127px;
  object-fit: cover;
}
.together-for-cleaner-waters {
  background: var(
    --gradient-1,
    linear-gradient(
      200.43deg,
      rgba(75, 187, 181, 1) 0%,
      rgba(9, 16, 87, 1) 98.27224016189575%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 140px;
  top: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.base {
  background: #ffffff;
  border-radius: 8px;
  width: 571px;
  height: 455px;
  position: absolute;
  left: 59px;
  top: 175px;
  box-shadow: var(
    --shadows-purple-3-level-box-shadow,
    0px 15px 45px 0px rgba(168, 85, 247, 0.25)
  );
}
.group-25 {
  position: absolute;
  inset: 0;
}
._5-c {
  color: var(--gray-200, #b8bfcc);
  text-align: left;
  font-family: var(--bold-10-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-10-font-size, 10px);
  line-height: var(--bold-10-line-height, 16px);
  font-weight: var(--bold-10-font-weight, 700);
  position: absolute;
  left: 13px;
  top: 419.69px;
  width: 37px;
  height: 42.31px;
}
._15-c {
  color: var(--gray-200, #b8bfcc);
  text-align: left;
  font-family: var(--bold-10-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-10-font-size, 10px);
  line-height: var(--bold-10-line-height, 16px);
  font-weight: var(--bold-10-font-weight, 700);
  position: absolute;
  left: 13px;
  top: 336.11px;
  width: 37.43px;
  height: 42.86px;
}
._25-c {
  color: var(--gray-200, #b8bfcc);
  text-align: left;
  font-family: var(--bold-10-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-10-font-size, 10px);
  line-height: var(--bold-10-line-height, 16px);
  font-weight: var(--bold-10-font-weight, 700);
  position: absolute;
  left: 13px;
  top: 253.07px;
  width: 41px;
  height: 42.86px;
}
._35-c {
  color: var(--gray-200, #b8bfcc);
  text-align: left;
  font-family: var(--bold-10-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-10-font-size, 10px);
  line-height: var(--bold-10-line-height, 16px);
  font-weight: var(--bold-10-font-weight, 700);
  position: absolute;
  left: 13px;
  top: 170.04px;
  width: 41px;
  height: 42.86px;
}
._45-c {
  color: var(--gray-200, #b8bfcc);
  text-align: left;
  font-family: var(--bold-10-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-10-font-size, 10px);
  line-height: var(--bold-10-line-height, 16px);
  font-weight: var(--bold-10-font-weight, 700);
  position: absolute;
  left: 13px;
  top: 87px;
  width: 41px;
  height: 42.86px;
}
.line-1 {
  margin-top: -1px;
  border-style: dashed;
  border-color: rgba(184, 191, 204, 0.73);
  border-width: 1px 0 0 0;
  width: 204px;
  height: 0px;
  position: absolute;
  left: 344px;
  top: 150px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.creativity {
  width: 504px;
  height: 457px;
  position: absolute;
  left: 67px;
  top: 0px;
}
.line-2 {
  width: 502px;
  height: 0px;
  position: absolute;
  left: 503px;
  top: 316px;
  transform: translate(-506px, -0.5px);
  overflow: visible;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 96px;
  position: absolute;
  left: 229px;
  top: 192px;
}
.content {
  background: #f1f2f4;
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 96px;
  position: relative;
}
.tooltip {
  color: #3c3e3f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  position: relative;
}
._2-50-pm {
  color: #b8bfcc;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 8px;
  line-height: 16px;
  font-weight: 700;
  position: relative;
}
.arrow {
  flex-shrink: 0;
  width: 8px;
  height: 4px;
  position: relative;
  overflow: visible;
}
.temperature {
  color: #324ab2;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: -13px;
  top: 23px;
}
.chart {
  border-radius: 0px;
  width: 502px;
  height: 251px;
  position: absolute;
  left: 2px;
  top: 206px;
  overflow: visible;
}
.chart2 {
  width: 503px;
  height: 149px;
  position: absolute;
  left: 2px;
  top: 206px;
  overflow: visible;
}
.icon-button {
  border-radius: 38px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 25px;
  position: absolute;
  left: 437px;
  top: 25px;
  overflow: visible;
}
.ellipse-1 {
  background: #324ab2;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--purple-50, #faf5ff);
  border-width: 2px;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 273px;
  top: 258px;
}
.frame {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -41px;
  top: 23px;
  overflow: hidden;
}
.svg-repo-icon-carrier {
  width: 45.83%;
  height: 83.33%;
  position: absolute;
  right: 49.17%;
  left: 5%;
  bottom: 6.67%;
  top: 10%;
  overflow: visible;
}
.base2 {
  background: #ffffff;
  border-radius: 8px;
  width: 571px;
  height: 455px;
  position: absolute;
  left: 733px;
  top: 175px;
  box-shadow: var(
    --shadows-purple-3-level-box-shadow,
    0px 15px 45px 0px rgba(168, 85, 247, 0.25)
  );
}
._0 {
  color: var(--gray-200, #b8bfcc);
  text-align: left;
  font-family: var(--bold-10-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-10-font-size, 10px);
  line-height: var(--bold-10-line-height, 16px);
  font-weight: var(--bold-10-font-weight, 700);
  position: absolute;
  left: 13px;
  top: 418.43px;
  width: 37px;
  height: 42.31px;
}
._2 {
  color: var(--gray-200, #b8bfcc);
  text-align: left;
  font-family: var(--bold-10-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-10-font-size, 10px);
  line-height: var(--bold-10-line-height, 16px);
  font-weight: var(--bold-10-font-weight, 700);
  position: absolute;
  left: 13px;
  top: 335.57px;
  width: 37.43px;
  height: 42.86px;
}
._4 {
  color: var(--gray-200, #b8bfcc);
  text-align: left;
  font-family: var(--bold-10-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-10-font-size, 10px);
  line-height: var(--bold-10-line-height, 16px);
  font-weight: var(--bold-10-font-weight, 700);
  position: absolute;
  left: 13px;
  top: 252.71px;
  width: 41px;
  height: 42.86px;
}
._6 {
  color: var(--gray-200, #b8bfcc);
  text-align: left;
  font-family: var(--bold-10-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-10-font-size, 10px);
  line-height: var(--bold-10-line-height, 16px);
  font-weight: var(--bold-10-font-weight, 700);
  position: absolute;
  left: 13px;
  top: 169.86px;
  width: 41px;
  height: 42.86px;
}
._8 {
  color: var(--gray-200, #b8bfcc);
  text-align: left;
  font-family: var(--bold-10-font-family, "Inter-Bold", sans-serif);
  font-size: var(--bold-10-font-size, 10px);
  line-height: var(--bold-10-line-height, 16px);
  font-weight: var(--bold-10-font-weight, 700);
  position: absolute;
  left: 13px;
  top: 87px;
  width: 41px;
  height: 42.86px;
}
.frame-32 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 96px;
  position: absolute;
  left: 75px;
  top: 178px;
}
.arrow2 {
  flex-shrink: 0;
  width: 8px;
  height: 4px;
  position: relative;
  overflow: visible;
}
.p-h {
  color: #324ab2;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 22px;
}
.icon-button2 {
  border-radius: 38px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 25px;
  position: absolute;
  left: 437px;
  top: 25px;
  overflow: visible;
}
.charts {
  position: absolute;
  inset: 0;
}
.base3 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 136.11px;
  position: absolute;
  left: 67px;
  top: 314.89px;
}
.base4 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 206px;
  position: absolute;
  left: 104.9px;
  top: 245px;
}
.base5 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 143.46px;
  position: absolute;
  left: 142.79px;
  top: 307.54px;
}
.base6 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 206px;
  position: absolute;
  left: 180.69px;
  top: 245px;
}
.base7 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 180.25px;
  position: absolute;
  left: 218.59px;
  top: 270.75px;
}
.base8 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 290.61px;
  position: absolute;
  left: 256.48px;
  top: 160.39px;
}
.base9 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 239.11px;
  position: absolute;
  left: 294.38px;
  top: 211.89px;
}
.base10 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 180.25px;
  position: absolute;
  left: 332.28px;
  top: 270.75px;
}
.base11 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 309px;
  position: absolute;
  left: 370.17px;
  top: 142px;
}
.base12 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 253.82px;
  position: absolute;
  left: 408.07px;
  top: 197.18px;
}
.base13 {
  background: #4bbbb5;
  border-radius: 32px;
  width: 16.24px;
  height: 224.39px;
  position: absolute;
  left: 445.97px;
  top: 226.61px;
}
.base14 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 191.29px;
  position: absolute;
  left: 483.86px;
  top: 259.71px;
}
.base15 {
  background: #387bc7;
  border-radius: 32px;
  width: 16.24px;
  height: 143.46px;
  position: absolute;
  left: 521.76px;
  top: 307.54px;
}
.layer-1 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 13px;
  top: 23px;
  overflow: hidden;
}
.svg-repo-icon-carrier2 {
  height: auto;
  position: absolute;
  left: 1.24px;
  top: 0px;
  overflow: visible;
}
.base16 {
  background: #ffffff;
  border-radius: 8px;
  width: 571px;
  height: 455px;
  position: absolute;
  left: 59px;
  top: 697px;
  box-shadow: var(
    --shadows-purple-3-level-box-shadow,
    0px 15px 45px 0px rgba(168, 85, 247, 0.25)
  );
}
.frame-33 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: auto;
  position: absolute;
  left: 167px;
  top: 192px;
  overflow: visible;
}
.voltage {
  color: #324ab2;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 25px;
}
.icon-button3 {
  border-radius: 38px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 25px;
  position: absolute;
  left: 437px;
  top: 25px;
  overflow: visible;
}
.ellipse-89 {
  background: linear-gradient(
    180deg,
    rgba(9, 137, 207, 1) 0%,
    rgba(5, 205, 153, 0) 100%
  );
  border-radius: 50%;
  width: 206px;
  height: 206px;
  position: absolute;
  right: 79px;
  top: calc(50% - 115.5px);
}
.score {
  position: absolute;
  inset: 0;
}
._4-5 {
  color: #324ab2;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 50px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  right: calc(50% - 106.5px);
  top: calc(50% - 57.5px);
}
.total-voltages {
  color: var(--gray-gray-400, #6a7686);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  right: 133px;
  top: 50%;
  translate: 0 -50%;
}
.frame-59 {
  background: linear-gradient(126.97deg, rgba(215, 229, 244, 1) 0%);
  border-radius: 20px;
  width: 217px;
  height: 73px;
  position: absolute;
  left: -36px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
  margin-top: 40px;
  backdrop-filter: blur(60px);
}
.invited {
  position: absolute;
  inset: 0;
}
._5-3-volts {
  color: #053742;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18.000001907348633px;
  line-height: 140%;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: 39px;
}
.max {
  color: #053742;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: 20px;
}
.frame-58 {
  background: linear-gradient(126.97deg, rgba(215, 229, 244, 1) 0%);
  border-radius: 20px;
  width: 217px;
  height: 73px;
  position: absolute;
  left: 31px;
  top: calc(50% - 110.5px);
  overflow: hidden;
  backdrop-filter: blur(60px);
}
.min {
  color: #053742;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: 20px;
}
.frame2 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 22px;
  top: 18px;
  overflow: hidden;
}
.svg-repo-icon-carrier3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.big-cards {
  position: absolute;
  inset: 0;
}
.first-card {
  width: 313px;
  height: 158px;
  position: static;
}
.text {
  width: 313px;
  height: 158px;
  position: static;
}
.glad-to-see-you-again {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 318px;
  width: 300px;
  height: 63px;
}
.mariam-essam {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 149px;
  top: 262px;
  width: 248px;
  height: 43px;
}
.welcome-back {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 223px;
  width: 313px;
  height: 18px;
}
.base17 {
  background: #ffffff;
  border-radius: 8px;
  width: 571px;
  height: 455px;
  position: absolute;
  left: 733px;
  top: 697px;
  box-shadow: var(
    --shadows-purple-3-level-box-shadow,
    0px 15px 45px 0px rgba(168, 85, 247, 0.25)
  );
}
.content2 {
  position: absolute;
  inset: 0;
}
.group-1000000788 {
  width: 307px;
  height: 307px;
  position: static;
}
.user-03-c {
  background: #88b0dd;
  border-radius: 100px;
  width: 90.17px;
  height: 90.17px;
  position: absolute;
  left: 410.17px;
  top: 210px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.plastic-bottle {
  width: 46px;
  height: 46px;
  position: absolute;
  left: 67.8px;
  top: 19.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.svg-repo-icon-carrier4 {
  width: 33.33%;
  height: 75%;
  position: absolute;
  right: 33.33%;
  left: 33.33%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.ellipse-1074 {
  width: 158.92px;
  height: 148.87px;
  position: absolute;
  left: 277.04px;
  top: 158.62px;
  overflow: visible;
}
.ellipse-1075 {
  width: 218.72px;
  height: 233.27px;
  position: absolute;
  left: 263.61px;
  top: 134px;
  overflow: visible;
}
.ellipse-1078 {
  width: 307px;
  height: 307px;
  position: absolute;
  left: 212.01px;
  top: 80.5px;
  overflow: visible;
}
.group-1000000789 {
  width: 157.48px;
  height: 311.16px;
  position: static;
}
.group-1000000785 {
  width: 108.81px;
  height: 71.08px;
  position: static;
}
.ellipse-10782 {
  background: #6956e5;
  border-radius: 50%;
  width: 14.32px;
  height: 13.41px;
  position: absolute;
  left: 47px;
  top: 105.54px;
}
.presence {
  color: #787486;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 68.48px;
  top: 98.84px;
  width: 87.33px;
  height: 25.48px;
}
.yes {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 47px;
  top: 136.39px;
  width: 44.38px;
  height: 33.53px;
}
.group-1000000786 {
  width: 67.29px;
  height: 71.08px;
  position: static;
}
.ellipse-1079 {
  background: #4dc1b8;
  border-radius: 50%;
  width: 14.32px;
  height: 13.41px;
  position: absolute;
  left: 47px;
  top: 224.91px;
}
.type {
  color: #787486;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 68.48px;
  top: 218.21px;
  width: 45.81px;
  height: 25.48px;
}
.pp {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 47px;
  top: 255.76px;
  width: 32.93px;
  height: 33.53px;
}
.group-1000000787 {
  width: 157.48px;
  height: 71.08px;
  position: static;
}
.ellipse-10792 {
  background: #324ab2;
  border-radius: 50%;
  width: 14.32px;
  height: 13.41px;
  position: absolute;
  left: 47px;
  top: 345.62px;
}
.concentration {
  color: #787486;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 68.48px;
  top: 338.92px;
  width: 136.01px;
  height: 25.48px;
}
._32-0-particle {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 47px;
  top: 376.47px;
  width: 157.48px;
  height: 33.53px;
}
.ellipse-1080 {
  width: 17.18px;
  height: 16.09px;
  position: absolute;
  left: 420.32px;
  top: 206.13px;
  overflow: visible;
}
.ellipse-1081 {
  width: 17.18px;
  height: 16.09px;
  position: absolute;
  left: 335px;
  top: 331px;
  overflow: visible;
}
.ellipse-1082 {
  width: 17.18px;
  height: 16.09px;
  position: absolute;
  left: 213px;
  top: 192px;
  overflow: visible;
}
.frame-1000000790 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  width: 160.35px;
  height: 21.46px;
  position: absolute;
  left: 402px;
  top: 28px;
}
._2-00-pm-sept-25 {
  color: #787486;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.icon-arrow-down {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.frame-34 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: auto;
  position: absolute;
  left: 234px;
  top: 192px;
  overflow: visible;
}
.results4 {
  color: #324ab2;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 39px;
  top: 28px;
}
.button {
  background: var(--primary-100, #88b0dd);
  border-radius: 48px;
  border-color: transparent;
  cursor: pointer;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 96px;
  position: absolute;
  left: 524px;
  top: 1220px;
}
.button2 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --button-an-labels-font-family,
    "Montserrat-Bold",
    sans-serif
  );
  font-size: var(--button-an-labels-font-size, 16px);
  line-height: var(--button-an-labels-line-height, 70%);
  font-weight: var(--button-an-labels-font-weight, 700);
  position: relative;
}
.retest {
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  line-height: 70%;
  font-weight: 700;
  position: absolute;
  left: 625px;
  top: 1257px;
  width: 112px;
  height: 22px;
}

.custom-form {
  max-width: 700px;
  margin: 30px auto;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 200px;
  gap: 15px;
}

.custom-form input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s;
}

.custom-form input:focus {
  border-color: #007bff;
  outline: none;
}

.custom-form button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.custom-form button:hover {
  background: #0056b3;
}
